USE [LogisticsDB]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 23-06-2026 06:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[DriverID] [int] IDENTITY(1,1) NOT NULL,
	[DriverCode] [varchar](20) NULL,
	[DriverName] [varchar](100) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[LicenseNumber] [varchar](50) NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipments]    Script Date: 23-06-2026 06:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipments](
	[ShipmentID] [int] IDENTITY(1,1) NOT NULL,
	[ShipmentCode] [varchar](20) NULL,
	[Origin] [varchar](100) NULL,
	[Destination] [varchar](100) NULL,
	[Status] [varchar](30) NULL,
	[VehicleCode] [varchar](20) NULL,
	[ExpectedDelivery] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipmentTracking]    Script Date: 23-06-2026 06:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipmentTracking](
	[TrackingID] [int] IDENTITY(1,1) NOT NULL,
	[ShipmentCode] [varchar](20) NULL,
	[CurrentLocation] [varchar](100) NULL,
	[TrackingTime] [datetime] NULL,
	[Remarks] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[TrackingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 23-06-2026 06:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleCode] [varchar](20) NULL,
	[VehicleNumber] [varchar](20) NULL,
	[VehicleType] [varchar](50) NULL,
	[Capacity] [int] NULL,
	[DriverCode] [varchar](20) NULL,
	[CurrentLocation] [varchar](100) NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([DriverID], [DriverCode], [DriverName], [PhoneNumber], [LicenseNumber], [Status]) VALUES (1, N'DR001', N'Ramesh Patil', N'9876543210', N'LIC12345', N'Active')
INSERT [dbo].[Drivers] ([DriverID], [DriverCode], [DriverName], [PhoneNumber], [LicenseNumber], [Status]) VALUES (2, N'DR002', N'Suresh Sharma', N'9876543211', N'LIC12346', N'Active')
INSERT [dbo].[Drivers] ([DriverID], [DriverCode], [DriverName], [PhoneNumber], [LicenseNumber], [Status]) VALUES (3, N'DR003', N'Mahesh Kumar', N'9876543212', N'LIC12347', N'On Leave')
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipments] ON 

INSERT [dbo].[Shipments] ([ShipmentID], [ShipmentCode], [Origin], [Destination], [Status], [VehicleCode], [ExpectedDelivery], [CreatedDate]) VALUES (1, N'SHP1001', N'Pune', N'Mumbai', N'In Transit', N'VH001', CAST(N'2026-06-21T00:00:00.000' AS DateTime), CAST(N'2026-06-20T06:08:44.637' AS DateTime))
INSERT [dbo].[Shipments] ([ShipmentID], [ShipmentCode], [Origin], [Destination], [Status], [VehicleCode], [ExpectedDelivery], [CreatedDate]) VALUES (2, N'SHP1002', N'Delhi', N'Jaipur', N'Delivered', N'VH002', CAST(N'2026-06-19T00:00:00.000' AS DateTime), CAST(N'2026-06-20T06:08:44.637' AS DateTime))
INSERT [dbo].[Shipments] ([ShipmentID], [ShipmentCode], [Origin], [Destination], [Status], [VehicleCode], [ExpectedDelivery], [CreatedDate]) VALUES (3, N'SHP1003', N'Bangalore', N'Chennai', N'Delayed', N'VH001', CAST(N'2026-06-20T09:39:00.830' AS DateTime), CAST(N'2026-06-20T09:39:00.830' AS DateTime))
SET IDENTITY_INSERT [dbo].[Shipments] OFF
GO
SET IDENTITY_INSERT [dbo].[ShipmentTracking] ON 

INSERT [dbo].[ShipmentTracking] ([TrackingID], [ShipmentCode], [CurrentLocation], [TrackingTime], [Remarks]) VALUES (1, N'SHP1001', N'Lonavala', CAST(N'2026-06-20T06:08:44.660' AS DateTime), N'Reached Lonavala')
INSERT [dbo].[ShipmentTracking] ([TrackingID], [ShipmentCode], [CurrentLocation], [TrackingTime], [Remarks]) VALUES (2, N'SHP1001', N'Khalapur', CAST(N'2026-06-20T06:08:44.660' AS DateTime), N'Crossed Khalapur Toll')
SET IDENTITY_INSERT [dbo].[ShipmentTracking] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([VehicleID], [VehicleCode], [VehicleNumber], [VehicleType], [Capacity], [DriverCode], [CurrentLocation], [Status]) VALUES (1, N'VH001', N'MH12AB1234', N'Truck', 10, N'DR001', N'Pune', N'In Transit')
INSERT [dbo].[Vehicles] ([VehicleID], [VehicleCode], [VehicleNumber], [VehicleType], [Capacity], [DriverCode], [CurrentLocation], [Status]) VALUES (2, N'VH002', N'DL01XY9876', N'Mini Truck', 5, N'DR002', N'Delhi', N'Available')
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Drivers__0BF84B475FB32205]    Script Date: 23-06-2026 06:31:46 ******/
ALTER TABLE [dbo].[Drivers] ADD UNIQUE NONCLUSTERED 
(
	[DriverCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Shipment__E1167C2138E35968]    Script Date: 23-06-2026 06:31:46 ******/
ALTER TABLE [dbo].[Shipments] ADD UNIQUE NONCLUSTERED 
(
	[ShipmentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vehicles__4F9DC82F66B92787]    Script Date: 23-06-2026 06:31:46 ******/
ALTER TABLE [dbo].[Vehicles] ADD UNIQUE NONCLUSTERED 
(
	[VehicleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ShipmentTracking] ADD  DEFAULT (getdate()) FOR [TrackingTime]
GO
